alias c="clear"
alias cdc="cd; clear"
alias g="git"
alias vim="nvim"

alias noty='$HOME/Scripts/php-noty/noty'
alias pp='vim $HOME/Dropbox/pp.org'
alias anki='vim $HOME/Dropbox/anki.md'

alias emacs='$HOME/Scripts/emacs.sh'
alias ert-run='$HOME/Scripts/ert-run'

alias aliases='cat $HOME/.aliases'
alias zshconf='vim $HOME/.zshrc'

alias dps='docker ps --format="table {{.ID}}\t{{.Names}}\t{{.Image}}\t{{.Command}}\t{{.Status}}"'

alias ni="npm install"
alias n="npm"
alias docc="docker-compose"

alias note="vim ~/Dropbox/Notes-online/personal.md"
alias notes="note"

alias gt="go test ./..."
