snippet cbl "Codeblock"
\`\`\`
$1
\`\`\`
$0
endsnippet

snippet icbl "Inline codeblock"
\`$1\`$0
endsnippet

snippet <s "Code Block"
\`\`\`${1:go}
$2
\`\`\`
$0
endsnippet

snippet ilc "Inline codeblock"
\`$1\`$0
endsnippet

snippet nn "New note"
## ${1:`date "+%a %d %b %Y %T%z"`}


endsnippet
