snippet cbl "Codeblock"
\`\`\`
$1
\`\`\`
$0
endsnippet

snippet pcbl "Pandoc Code Block"
\`\`\` {.${1:go}}
$2
\`\`\`
$0
endsnippet

snippet <s "Code Block"
\`\`\` {.${1:go}}
$2
\`\`\`
$0
endsnippet

snippet icbl "Inline codeblock"
\`$1\`$0
endsnippet
