snippet pub "Public function" b
public function ${1:name}($2)
{
	$3
}
$0
endsnippet

snippet psub "Public static function" b
public static function ${1:name}($2)
{
	$3
}
$0
endsnippet

snippet func "Simple function" b
function ${1:name}($2)
{
	$3
}
$0
endsnippet

